/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define HOST_OS 2
#include "../helper.h"

#define DEFAULT   0
#define LOWER      1
#define RAISE     2
#define BOTH       3

/* German umlauts */
ZMK_UNICODE_PAIR(   de_ae,      N0, N0,  E, N4,    N0, N0,  C, N4)
ZMK_UNICODE_PAIR(   de_oe,      N0, N0,  F, N6,    N0, N0,  D, N6)
ZMK_UNICODE_PAIR(   de_ue,      N0, N0,  F,  C,    N0, N0,  D,  C)
ZMK_UNICODE_SINGLE( de_eszett,  N0, N0,  D,  F)

// euro sign
ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C)  // €

/ {

        conditional_layers {
          compatible = "zmk,conditional-layers";
          both_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <BOTH>;
          };
        };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                  bindings = <
// ------------------------------------------------------------------------------------------------------------------------------------------------
//  |     Q     |     W     |     E     |     R     |     T     |     |     Y     |     U     |     I     |     O     |     P     |
&kp ESC      &kp Q       &kp W       &kp E       &kp R       &kp T             &kp Y       &kp U       &kp I       &kp O       &kp P &kp ESC

//  |     A     |     S     |     D     |     F     |     G     |     |     H     |     J     |     K     |     L     |     '/"     |
 &kp ESC     &kp A       &kp S       &kp D       &kp F       &kp G             &kp H       &kp J       &kp K       &kp L       &kp SQT &kp ESC


//  |     Z     |     X     |     C     |     V     |     B     |     |     N     |     M     |     ,     |     .     |     /     |
 &kp ESC     &kp Z       &kp X       &kp C       &kp V       &kp B             &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH &kp ESC


//                          |  ALT/ESC  | LEFT/BKSP | CTRL/SPC  |     | SHIFT/ENT| RIGHT/TAB |  CMD/DEL  |
                          &mt LALT ESC &lt LOWER SPACE &mt LCTRL RET     &lt RAISE TAB  &mt RSHFT BSPC  &mt RGUI DEL
                  >;
                };

                lower_layer {
                  bindings = <
// ------------------------------------------------------------------------------------------------------------------------------------------------
//  |     1     |     2     |     3     |     4     |     5     |     |     6     |     7     |     8     |     9     |     0     |
  &kp ESC    &kp N1      &kp N2      &kp N3      &kp N4      &kp N5            &kp N6      &kp N7      &kp N8      &kp N9      &kp N0 &kp ESC


//  |     A     |     S     |     D     |     F     |     G     |     |     -/_   |     =/+   |     [/{   |     ]/}   |     ;/:   |
  &kp ESC  &de_ae  &de_eszett  &de_oe  &de_ue  &euro_sign             &kp MINUS   &kp EQUAL   &kp LBKT    &kp RBKT    &kp SEMI &kp ESC


//  |     Z     |     X     |     C     |     V     |     B     |     |     N     |     M     |     ,     |     `/~   |     \/"|" |
  &kp ESC     &trans  &mt LGUI X  &mt LGUI C  &mt LGUI V  &trans              &kp BSPC       &kp GRAVE       &kp COMMA   &kp DOT   &kp BSLH &kp ESC


//                          |  ALT/ESC  | LEFT/BKSP | CTRL/ENT  |     | SHIFT/SPC | RIGHT/TAB |  CMD/DEL  |
                                            &trans  &trans  &trans  &trans  &trans  &trans  
                  >;
                };


                raise_layer {
                  bindings = <
// ------------------------------------------------------------------------------------------------------------------------------------------------
//  |     1     |     2     |     3     |     4     |     5     |     |     6     |     7     |     8     |     9     |     0     |
  &kp ESC     &kp C_BRI_DN  &kp C_BRI_UP  &kp N3      &kp N4      &kp N5            &kp C_PREV      &kp C_PP      &kp C_NEXT      &kp C_VOL_DN      &kp C_VOL_UP &kp ESC

//  |     Ae     |     Se     |     Oe     |     Ue     |     G     |     |     LEFT   |     DOWN   |     UP   |     RIGHT   |     '/"   |
  &kp ESC     &trans  &trans  &trans  &trans  &trans              &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT    &kp RGUI &kp ESC

//  |     Z     |     X     |     C     |     V     |     B     |     |     N     |     M     |     ,     |     .   |     \/"|" |
  &kp ESC     &trans  &trans  &trans  &trans  &trans              &trans        &trans       &trans   &trans   &kp RSHFT &kp ESC

//                          |  ALT/ESC  | LEFT/BKSP | CTRL/ENT  |     | SHIFT/SPC | RIGHT/TAB |  CMD/DEL  |
                                            &trans  &trans  &trans  &trans  &trans  &trans  
                                            >;
                };

                both_layer {
                  bindings = <
// ------------------------------------------------------------------------------------------------------------------------------------------------
//  |     1     |     2     |     3     |     4     |     5     |     |     6     |     7     |     8     |     9     |     0     |
   &kp ESC    &kp C_BRI_DN  &kp C_BRI_UP  &kp N3      &kp N4      &kp N5            &kp C_PREV      &kp C_PP      &kp C_NEXT      &kp C_VOL_DN      &kp C_VOL_UP &kp ESC

//  |     Ae     |     Se     |     Oe     |     Ue     |     G     |     |     LEFT   |     DOWN   |     UP   |     RIGHT   |     '/"   |
  &kp ESC  &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3             &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT    &kp SQT &kp ESC

//  |     Z     |     X     |     C     |     V     |     B     |     |     N     |     M     |     ,     |     `/~   |     \/"|" |
  &kp ESC     &trans  &trans  &trans  &trans  &trans              &trans        &trans       &kp COMMA   &kp GRAVE   &kp BSLH &kp ESC

//                          |  ALT/ESC  | LEFT/BKSP | CTRL/ENT  |     | SHIFT/SPC | RIGHT/TAB |  CMD/DEL  |
                                            &trans  &trans  &trans  &trans  &trans  &trans  
                  >;
                };




        };

};
